# Python artefacts
*.pyc
__pycache__/

# Entorno virtual
venv/
env/

# Sólo ignorar el build output de collectstatic:
staticfiles/

# Archivos de medios cargados por el usuario
media/

# Configuración local y logs
*.env
*.ini
*.log
*.bak

# IDEs
.vscode/
.idea/
*.iml

# Cobertura
.coverage
coverage.xml
